* {
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
    font-family: 'Poppins', sans-serif;
    
    color: rgb(0,0,0);
}

.main {
    background-color: rgb(235, 235, 235);
}