.projects {
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    padding: 5rem 0;
    
  }

.title {
    margin: 0 auto;
    text-align: center;
    padding: 5rem;
}